affine==2.4.0
aiohappyeyeballs
aiohttp==3.11.14
aiosignal
asttokens==3.0.0
attrs
beautifulsoup4==4.13.4
blinker
bokeh==3.7.3
boto3==1.39.14
botocore==1.39.14
Bottleneck==1.5.0
branca==0.8.1
Brotli
Cartopy==0.24.1
cattrs==25.1.1
certifi
cffi
cftime==1.6.4.post1
charset-normalizer
click
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.1
comm==0.2.2
ConfigArgParse==1.7.1
contourpy
crc32c==2.7.1
cycler
dash
dask==2025.7.0
debugpy==1.8.15
decorator==5.2.1
distributed==2025.7.0
donfig==0.8.1.post1
dotenv==0.9.9
executing==2.2.0
fastjsonschema==2.21.1
Flask
flox==0.10.4
folium==0.19.5
fonttools
frozenlist
fsspec==2025.7.0
geopandas==1.0.1
h2
h5netcdf==1.6.3
h5py==3.14.0
hpack
hyperframe
idna
importlib_metadata
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous
jedi==0.19.2
Jinja2
jmespath==1.0.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver
legacy-cgi==2.6.3
llvmlite==0.44.0
locket==1.0.0
loguru
lxml==6.0.0
lz4==4.4.4
MarkupSafe
matplotlib==3.10.1
matplotlib-inline==0.1.7
msgpack
multidict
munkres==1.1.4
narwhals
natsort==8.4.0
nbformat==5.10.4
nc-time-axis==1.4.1
nest_asyncio
netCDF4==1.7.2
numba==0.61.0
numbagg==0.9.0
numcodecs==0.16.1
numpy==2.0.0
numpy-groupies==0.11.3
open3d-cpu
opencv-python==4.11.0.86
opt_einsum==3.4.0
packaging
pandas==2.2.3
parso==0.8.4
partd==1.4.2
pdal
pdal-plugins
pexpect==4.9.0
pillow
platformdirs==4.3.8
plotly
pooch==1.8.2
prompt_toolkit==3.0.51
propcache
psutil==7.0.0
psycopg-binary==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pycparser
pydap==3.5.5
Pygments==2.19.2
pyogrio==0.11.0
pyparsing
pyproj==3.7.1
pyshp==2.3.1
PySocks
pystac==1.13.0
pystac-client==0.9.0
python-dateutil
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.0
rasterio==1.4.3
referencing==0.36.2
requests
requests-cache==1.2.1
retrying
rpds-py==0.26.0
s3transfer==0.13.1
scipy==1.16.0
seaborn==0.13.2
setuptools==80.9.0
shapely==2.1.1
six
sortedcontainers==2.4.0
soupsieve==2.7
sparse==0.17.0
stack-data==0.6.3
tblib==3.1.0
toolz==1.0.0
tornado==6.5.1
traitlets==5.14.3
typing_extensions
tzdata==2025.2
url-normalize==2.2.1
urllib3
vtk==9.4.2
wcwidth==0.2.13
WebOb==1.8.9
Werkzeug
wslink
xarray==2025.7.1
xyzservices==2025.4.0
yarl
zarr==3.1.0
zict==3.0.0
zipp
zstandard==0.23.0
